
/* Stylessheet by 
   Lucas Gatsas. 

   CSS Media Queries Stylesheet Layout */


/*



Syntax von Media Queries
Bezeichnung Code
Media Query screen and (max-width: 300px)
Medientyp screen and (max-width: 300px)
Verknüpfung screen and (max-width: 300px)
Ausdruck  screen and (max-width: 300px)
Merkmal screen and (max-width: 300px)
Wert  screen and (max-width: 300px)




*/

/* Tabletts */
@media only screen and  (max-width: 490px) {
 

menu-top-notice-btn, li {
    border: 1px solid rgba(0, 128, 0, 0.33);
    border-radius: 4px;
    color: green;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    display: table-header-group;
    cursor: pointer;
}
ul.obj-nav-right {
    margin-top: 20px;
    margin-right: 0px;
    float: right;
  }
}

@media only screen and  (min-width: 760px) {
  body { 
 /* max-width: 760px; */
  background:white;
  }
}

/* Mittlere Monitore */
@media only screen and (min-width: 980px) {
  .reframe { max-width: 980px }
}

/* Große Monitore */
@media only screen and (min-width: 1280px) {
  .reframe { max-width: 1280px }

}